@import '../lib/variables';

:local(.horizontalOrderable) {
  height: 40px;
  margin-top: 20px;
}

// Bottom/right border is normally covered by the next item, but is revealed if the item is dragged.
:local(.item) {
  align-items: center;
  background-color: white;
  display: flex;
  padding: 0 10px;

  &:local(.item--x) {
    border-left: 1px solid lightgray;

    &::after {
      border-left: 1px solid lightgray;
      bottom: 0;
      content: '';
      position: absolute;
      right: -1px;
      top: 0;
    }
  }

  &:local(.item--y) {
    border-top: 1px solid lightgray;

    &::after {
      border-top: 1px solid lightgray;
      bottom: -1px;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}

:local(.handle) {
  align-items: center;
  align-self: stretch;
  cursor: grab;
  display: flex;
  margin-right: 10px;

  &:active {
    cursor: grabbing;
  }
}

:local(.verticalOrderable) {
  width: 200px;
}

