@import '../../variables';

:local(.handle) {
  align-self: stretch;
  background-color: transparent;
  border: 0;
  cursor: grab;
  flex-shrink: 0;
  margin-right: 10px;
  outline: none;
  padding: 0;

  &:local(.handle--dragging) {
    cursor: grabbing;
  }
}

:local(.handleIcon) {
  font-size: 16px;
}

:local(.item) {
  align-items: center;
  background-color: #eee;
  display: flex;
  font-size: 14px;
  padding: 10px;

  &:local(.item--dragging) {
    background-color: #ddd;
    z-index: $zIndex-draggingItem;
  }

  &:local(.item--ghost) {
    opacity: 0.5;
  }
}