@import './variables';

:local(.item) {
  position: absolute;

  &:local(.item--x) {
    bottom: 0;
    transition: left 0.1s ease-in-out;
    top: 0;
  }

  &:local(.item--y) {
    left: 0;
    right: 0;
    transition: top 0.1s ease-in-out;
  }

  &:local(.item--dragging) {
    transition: none; // Override transition
    z-index: $zIndex-draggingItem;
  }
}